<!DOCTYPE html>
<html>
  <head>
    <title>Прогноз погоды</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
  </head>

  <body>
    <main class="page">
      <h1 class="title">Прогноз погоды</h1>

      <form class="form" method="POST" action="/weather">
        <span class="field">
          <label class="input-label" for="city-from">Откуда</label>
          <input
            class="city-input"
            type="text"
            id="city-from"
            name="city-from"
            placeholder="Москва"
            required
          />
        </span>

        <span class="field">
          <label class="input-label" for="city-to">Куда</label>
          <input
            class="city-input"
            type="text"
            id="city-to"
            name="city-to"
            placeholder="Санкт-Петербург"
            required
          />
        </span>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <button type="button" class="add-btn btn" onclick="addField()">Добавить промежуточный город</button>
        <button type="button" class="remove-btn btn" onclick="removeField()">Удалить промежуточный город</button>
        <button class="btn" type="submit">Получить прогноз</button>
      </form>
    </main>
    <script>
      
      function addField() {
        const fields = document.querySelectorAll(".field");
        const lastField = fields[fields.length - 1];
        const newField = document.createElement("span"); 
        newField.innerHTML = `
          <span class="field">
            <label class="input-label" for="city-intermediate">Промежуточный город ${fields.length - 1}</label>
            <input
              class="city-input"
              type="text"
              id="city-intermediate"
              name="city-intermediate"
              placeholder="Владивосток"
              required
            />
          </span>
        `
        lastField.before(newField);
      }

      function removeField() {
        const fields = document.querySelectorAll(".field");
        if (fields.length == 2) {
          return;
        }
        const lastIntermediateField = fields[fields.length - 2];
        lastIntermediateField.remove();
      }

    </script>
  </body>
</html>
