<!DOCTYPE html>
<html>
  <head>
    <title>Прогноз погоды</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
  </head>

  <body>
    <main class="page">
      <h1 class="title">Прогноз погоды на разные дни</h1>
      {% if weather %}
        <iframe src="/dash/" class="dash-container"></iframe>
      {% endif %}
      {% if not weather %}
        <p class="error">Не удалось получить данные о погоде. Попробуйте позже.</p>
      {% endif %}
    </main>
  </body>
</html>
